.idea/
DSA.iml

/L4_Conditions_Loops/.idea
/L4_Conditions_Loops/out
/L4_Conditions_Loops/L4_Conditions_Loops.iml

/L5_Switch_Statement/.idea
/L5_Switch_Statement/out
/L5_Switch_Statement/L5_Switch_Statement.iml

/L7_Arrays_ArrayLists/.idea
/L7_Arrays_ArrayLists/out
/L7_Arrays_ArrayLists/L5_Arrays_ArrayLists.iml


/L6_Funtions_and_Methods/.idea
/L6_Funtions_and_Methods/out
/L6_Funtions_and_Methods/L6_Funtions_and_Methods.iml

/L8_Linear_Search_Algorithm/.idea
/L8_Linear_Search_Algorithm/out
/L8_Linear_Search_Algorithm/L8_Linear_Search_Algorithm.iml

/L9_Binary_Search_Theory/.idea
/L9_Binary_Search_Theory/out
/L9_Binary_Search_Theory/L9_Binary_Search_Theory.iml

/L10_BinarySearch_Examples/.idea
/L10_BinarySearch_Examples/out
/L10_BinarySearch_Examples/L10_BinarySearch_Examples.iml