.idea/
DSA.iml

/L4_Conditions_Loops/.idea
/L4_Conditions_Loops/out
/L4_Conditions_Loops/L4_Conditions_Loops.iml

/L5_Switch_Statement/.idea
/L5_Switch_Statement/out
/L5_Switch_Statement/L5_Switch_Statement.iml

/L7_Arrays_ArrayLists/.idea
/L7_Arrays_ArrayLists/out
/L7_Arrays_ArrayLists/L5_Arrays_ArrayLists.iml


/L6_Funtions_and_Methods/.idea
/L6_Funtions_and_Methods/out
/L6_Funtions_and_Methods/L6_Funtions_and_Methods.iml
